---
import "../style.css";
import LandingpageHeader from "../components/LandingpageHeader.astro";
import Card from "../components/Card.astro"
import Button from "../components/Button.astro"
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Demon Daycare">
	<LandingpageHeader variant="landingpage_spacer" src="DemonDaycareHero_kort.webm" header="Embark On Whimsical Adventures" text="Demon Daycare is an indie game studio dedicated to crafting"  text2="whimsical, silly and mischievous experiences.">
		<div class="flex_arrow">
			<div></div>
			<div>
				<a href="#main"><img class="arrowdown" src="svg/white_arrow.svg" alt="Arrow down vector"></a>
			</div>
			<div></div>
		</div>
	</LandingpageHeader>
		<main id="main">
		<div id="space_for_hero"></div>
		<div class="card_flex">
			<div>		
				<Card href="neko_sake_showdown" color="color_white" header="Neko Sake Showdown" src="webp/nekosake/nekosake1.webp" alt="Neko Sake Showdown" variant="borderimg"/>
			</div>
			<div>
				<Card href="caffeine_crisis" color="color_white" header="Caffeine Crisis" src="webp/caffeine/caffeine1.webp" alt="Caffeine Crisis" variant="borderimg"/>
			</div>
			<div>		
				<Card href="halloween_home" color="color_white" header="Halloween Home" src="webp/halloween/halloween1.webp" alt="Halloween Home" variant="borderimg" />
			</div>
		</div>
		<div id="values_div">
			<div class="values_grid">
				<div>		
					<Card class="values_size"  color="color_greyish" header="Cozy" src="webp/square_frog.webp" alt="Cozy frog">
					<p class="greyish">For when you need a virtual hug and a hot cup of cocoa.</p>
					</Card>
				</div>
				<div>
					<Card class="values_size"  color="color_yellow" header="Whimsical" src="webp/square_neko.webp" alt="Whimsical cat">
					<p class="yellow">When you want to unleash your inner whimsy and embrace the wackiness.</p>
					</Card>
				</div>
				<div>		
					<Card class="values_size" color="color_purple" header="Demonic" src="webp/square_demon.webp" alt="Demonic demon">
					<p>For when you crave chaos, and mischievous companionship.</p>
					</Card>
				</div>
			</div>
		</div>
	</main>
	</MainLayout>

	<style>
		p{
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 120%;
			text-align: center;
		}
		.greyish{
			color: var(--greyish);
		}
		.yellow{
			color:var(--yellow)
		}
		.values_size{
			width: 400px;
		}
		.flex_arrow{
			display: flex;
			justify-content: center;
		}
	</style>